<% count = 0 %>
<% donation_categories.each do |category| %>
  <% if category.donation_rewards.present? %>
    <% category.donation_rewards.each do |reward| %>
      <h1><%= reward.name %></h1>
      <%= simple_form_for @donation, :url => donations_path, :method => :post do |f| %>
        <%= f.input :donation_category_id, as: :hidden, input_html: {value: category.id} %>
        <%= f.simple_fields_for :donation_items do |donation_item_form| %>
          <%= render "donations/donation_item", f: donation_item_form, reward: reward %>
        <% end %>
        
        <div id="twzipcode<%= count %>"><% count += 1 %>
          <div data-role="county" data-style="Style Name" data-name="donation[county]" data-value="110"></div>
          <div data-role="district" data-style="Style Name" data-name="donation[district]" data-value="臺北市"></div>
          <div class="hidden"
               data-role="zipcode"
               data-name="donation[zipcode]"
               >
          </div>
        </div>
        <%= f.input :road, required: true %>
        <%= f.input :name, required: true %>
        <%= f.input :mobile_phone, required: true %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% else %>
    <h1><%= category.name %></h1>
    <%= simple_form_for @donation, :url => donations_path, :method => :post do |f| %>
      <%= f.input :donation_category_id, as: :hidden, input_html: {value: category.id} %>

      <div id="twzipcode<%= count %>"> <% count += 1 %>
        <div data-role="county" data-style="Style Name" data-name="donation[county]" data-value="110"></div>
        <div data-role="district" data-style="Style Name" data-name="donation[district]" data-value="臺北市"></div>
        <div class="hidden"
            data-role="zipcode"
            data-name="donation[zipcode]"
            >
        </div>
      </div>

      <%= f.input :road, required: true %>
      <%= f.input :name, required: true %>
      <%= f.input :total_amount, required: true %>
      <%= f.input :mobile_phone, required: true %>
      <%= f.submit %>
    <% end %>
  <% end %>

<% end %>


<script language="JavaScript">

    // var citizen_id_selector = $("#donation_citizen_id");
   var county = $('.county').val();
   var district = $('.district').val();
   $(document).ready(function(){
     for(i=0; i < '<%= count %>'; i++){
       $(`#twzipcode${i}`).twzipcode({
        zipcodeIntoDistrict: true, // 郵遞區號自動顯示在區別選單中
        css: ["city form-control", "town form-control"], // 自訂 "城市"、"地別" class 名稱 
        countyName: county, // 自訂城市 select 標籤的 name 值
        districtName: district // 自訂區別 select 標籤的 name 值
        }
       );
     }
   });
 </script>
   